<!-- ==========================
    	BREADCRUMB - START
    =========================== -->
<section class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>uMarket</h2>
        <p>Privacy Policy</p>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb">
          <li><a href="index-2.html">Home</a></li>
          <li class="active">Privacy Policy</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
    BREADCRUMB - END
  =========================== -->

<!-- ==========================
  ESHOP - START
=========================== -->
<section class="content eshop">
  <div class="container">
    <div class="default-style privacy-policy">
      <h2>Privacy Policy</h2>
      <p>We,at Cashlele, understand the importance of you privacy and make all required efforts to safeguard it. The Privacy Policy describes what personal information is collected by us, how it might be used or shared to third parties. Please read this privacy policy before using the site or submitting any personal information. By using the site, you consent to the practices described in this privacy policy. The privacy practices set forth in this privacy policy are for this web site only. If you link to other web sites, please review the privacy policies posted at those sites.</p>
      <h4>User Information</h4>
      <p>We collect personally identifiable information, which includes but is not limited to names, email addresses, phone no etc.at the time of registration. This information is only used to fulfil your specific request, unless you give us permission to use it in another manner or as required by law. We might request for more information in order to provide you with better services. We intend to protect the quality and integrity of your personally identifiable information.</p>
      <h4>Use of Email</h4>
      <p>We occasionally send you emails to inform you about our latest offers and promotions. Also, you would receive transaction related and referral emails to show your earned cashback, payment confirmations and other administrative emails. We also send newsletters on weekly basis to provide you with more information about our site. We discourage spamming our members and therefore , provide an option to unsubscribe to out newsletters.</p>
      <h4>Link to Third Party Sites</h4>
      <p>We may use third-party advertising companies to serve ads when you visit our Web site. These companies may use aggregated information (not including your name, address, email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you. Also, third Party sites are governed by their respective privacy policies, which are beyond our control. Once you leave our servers (you can know where you are by checking the URL in the location bar on your browser), use of any information you provide is governed by the privacy policy of the operator of the site you are visiting which may be different from ours.</p>
      <h4>Information Security</h4>
      <p>Cashlele does not rent, use, sell or transfer your personal information to advertisers or spammers. The content that you post on our site is available to other users of our site. We may disclose your information when requested or required by law or by any court or governmental agency or authority, for the purpose of verification of identity, or for the prevention, detection, investigation including cyber incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for complying with the applicable laws and regulations. We may disclose your information to law enforcement agencies if we believe that the site is being used for any fraudulent activities or to prevent any fraud or any illegal act that we have reasons to believe may be caused on us or through the use of Site</p>
      <h4>Cookies</h4>
      <p>Cookies are pieces of information that are sent from the website for the purpose of communication. They are stored in the user’s browser .In order to use Cashlele’s full functionality ,cookies must be turned on your computer. Cashlele may use cookies to collect information regarding your transactions and track your earnings .Cashlele cannot track your purchases and cannot give you any cash back ,if cookies are turned off. We may also use cookies for providing you with better services</p>
      <h4>Changes to the Policy</h4>
      <p>The internet is an evolving medium and changes to the policy may be necessary to meet  any future requirements. If we make any changes to the policy, users will be notified of the changes here. Also, it is advised to review the policy when accessing this site.</p>
    </div>
  </div>
</section>
<!-- ==========================
  ESHOP - END
=========================== -->
