<!-- ==========================
    	BREADCRUMB - START
    =========================== -->
<section class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>uMarket</h2>
        <p>Terms & Conditions</p>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb">
          <li><a href="index-2.html">Home</a></li>
          <li class="active">Terms & Conditions</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
    BREADCRUMB - END
  =========================== -->
<div class="container-fluid" style="background: white;">
  <div class="my-container termsofuse"><h1 class="text-center"></h1>
    <ul class="panel">
      <li><a class="title"></a>
        <div class="desc">
          <p>Welcome to fashionClub. This document is an electronic record in terms of Information Technology Act, 2000 and
            published in accordance with the provisions of Rule 3 ) of the Information Technology (Intermediaries
            guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use
            for access or usage of fashionClub marketplace platform (hereinafter referred to as &quot;fashionClub&quot;)</p>

          <p>Your use of the fashionClub and services and tools are governed by the following terms and conditions
            (&quot;<strong>Terms of Use</strong>&quot;) as applicable to the fashionClub including the applicable policies
            which are incorporated herein by way of reference. By mere use of the fashionClub, You shall be contracting with
            fashionClub Designs Private Limited and these terms and conditions including the policies constitute Your binding
            obligations, with fashionClub.</p>

          <p>For the purpose of these Terms of Use, wherever the context so requires &quot;<strong>You</strong>&quot;
            or &quot;<strong>User</strong>&quot; shall mean any natural or legal person who has agreed to become a buyer
            on the fashionClub by providing Registration Data while registering on the fashionClub as Registered User. The
            term &quot;<strong>fashionClub&quot;,&quot;</strong>We&quot;,&quot;<strong>Us</strong>&quot;,&quot;<strong>Our</strong>&quot;
            shall mean fashionClub Designs Private Limited and its affiliates.</p>

          <p>When You use any of the services provided by Us through the fashionClub, including but not limited to, (e.g.
            Product Reviews, Seller Reviews), You will be subject to the rules, guidelines, policies, terms, and
            conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use
            and shall be considered as part and parcel of this Terms of Use. We reserve the right, at Our sole
            discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior
            written notice to You. You shall ensure to review these Terms of Use periodically for updates/changes. Your
            continued use of the fashionClub following the posting of changes will mean that You accept and agree to the
            revisions. As long as You comply with these Terms of Use, We grant You a personal, non-exclusive,
            non-transferable, limited privilege to enter and use the fashionClub. By impliedly or expressly accepting these
            Terms of Use, You also accept and agree to be bound by fashionClub Policies including but not limited to Privacy
            Policy as amended from time to time.</p></div>
      </li>
      <li><a class="title">1. User Account, Password, and Security:</a>
        <div class="desc">
          <p>If You use the fashionClub, You shall be responsible for maintaining the confidentiality of your Display Name
            and Password and You shall be responsible for all activities that occur under your Display Name and
            Password. You agree that if You provide any information that is untrue, inaccurate, not current or
            incomplete, We shall have the right to indefinitely suspend or terminate or block access of your membership
            on the fashionClub.</p>

          <p>You agree to </p>

          <p> (a) immediately notify fashionClub of any unauthorized use / breach of your password or account and </p>

          <p> (b) ensure that you exit from your account at the end of each session.</p></div>
      </li>
      <li><a class="title">2. Services Offered:</a>
        <div class="desc">
          <p>fashionClub provides a number of Internet-based services through the fashionClub. One such Service enables Users to
            purchase original merchandise such as clothing, footwear and accessories from various fashion and lifestyle
            brands (collectively, &quot;Products&quot;). The Products can be purchased through the fashionClub through
            various methods of payments offered. The sale/purchase of Products shall be additionally governed by
            specific policies of sale, like cancellation policy, exchange policy, return policy, etc. (which are found
            on the FAQ tab in the fashionClub and all of which are incorporated here by reference). In addition, these Terms
            of Use may be further supplemented by Product specific conditions, which may be displayed with that
            Product.</p>

          <p>fashionClub does not warrant that Product description or other content of fashionClub is accurate, complete,
            reliable, current, or error-free and assumes no liability in this regard.</p></div>
      </li>
      <li><a class="title">3. Platform for Transaction and Communication:</a>
        <div class="desc">
          <p>The fashionClub is a platform that Users utilize to meet and interact with one another for their transactions.
            fashionClub is not and cannot be a party to or control in any manner any transaction between the fashionClub&#39;s
            Users. Henceforward:</p>

          <p> a. All commercial/contractual terms are offered by and agreed to between Buyers and Sellers alone. The
            commercial/contractual terms include without limitation price, shipping costs, payment methods, payment
            terms, date, period and mode of delivery, warranties related to products and services and after sales
            services related to products and services. fashionClub does not have any control or does not determine or advise
            or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the
            Buyers and Sellers.</p>

          <p> b. fashionClub does not make any representation or Warranty as to specifics (such as quality, value,
            salability, etc) of the products or services proposed to be sold or offered to be sold or purchased on the
            fashionClub. </p>

          <p> c. fashionClub is not responsible for any non-performance or breach of any contract entered into between Buyers
            and Sellers. fashionClub cannot and does not guarantee that the concerned Buyers and/or Sellers will perform any
            transaction concluded on the fashionClub.</p>

          <p> d. At no time shall fashionClub hold any right, title or interest over the products nor shall fashionClub have any
            obligations or liabilities in respect of such contract entered into between Buyers and Sellers.</p>

          <p> e. The fashionClub is only a platform that can be utilized by Users to reach a larger base to buy and sell
            products or services. fashionClub is only providing a platform for communication and it is agreed that the
            contract for sale of any of the products or services shall be a strictly bipartite contract between the
            Seller and the Buyer. At no time shall fashionClub hold any any right, title or interest over the products nor
            shall fashionClub have any obligations or liabilities in respect of such contract. fashionClub is not responsible for
            unsatisfactory or delayed performance of services or damages or delays as a result of products which are out
            of stock, unavailable or back ordered.</p>

          <p> f. Pricing on any product(s) as is reflected on the fashionClub may due to some technical issue, typographical
            error or product information published byseller may be incorrectly reflected and in such an event seller may
            cancel such your order(s). </p>

          <p> g. You release and indemnify fashionClub and/or any of its officers and representatives from any cost, damage,
            liability or other consequence of any of the actions of the Users of the fashionClub and specifically waive any
            claims that you may have in this behalf under any applicable law. Notwithstanding its reasonable efforts in
            that behalf, fashionClub cannot take responsibility or control the information provided by other Users which is
            made available on the fashionClub.</p></div>
      </li>
      <li><a class="title">4. User Conduct and Rules on the fashionClub:</a>
        <div class="desc">
          <p>You agree, undertake and confirm that Your use of fashionClub shall be strictly governed by the following
            binding principles:</p>

          <ul>
            <li><p>a) You shall not host, display, upload, modify, publish, transmit, update or share any information
              which: </p>
              <p>i) belongs to another person and to which You do not have any right to;</p>
              <p>ii) is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic,
                libellous, invasive of another&#39;s privacy, hateful, or racially, ethnically objectionable,
                disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner
                whatever;</p>
              <p>iii) is misleading in any way; </p>
              <p>iv) involves the transmission of &quot;junk mail&quot;, &quot;chain letters&quot;, or unsolicited mass
                mailing or &quot;spamming&quot;;</p>
              <p>v) promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or
                libellous;</p>
              <p>vi) infringes upon or violates any third party&#39;s rights including, but not limited to, intellectual
                property rights, rights of privacy (including without limitation unauthorized disclosure of a person&#39;s
                name, email address, physical address or phone number) or rights of publicity;</p>
              <p>vii) contains restricted or password-only access pages, or hidden pages or images (those not linked to
                or from another accessible page);</p>
              <p>viii) provides instructional information about illegal activities such as making or buying illegal
                weapons, violating someone&#39;s privacy, or providing or creating computer viruses;</p>
              <p>ix) contains video, photographs, or images of another person (with a minor or an adult).</p>
              <p>x) tries to gain unauthorized access or exceeds the scope of authorized access to the fashionClub or to
                profiles, blogs, communities, account information, bulletins, friend request, or other areas of the
                fashionClub or solicits passwords or personal identifying information for commercial or unlawful purposes
                from other users;</p>
              <p>xi) interferes with another USER&#39;s use and enjoyment of the fashionClub or any other individual&#39;s
                User and enjoyment of similar services;</p>
              <p>xii) infringes any patent, trademark, copyright or other proprietary rights or third party&#39;s trade
                secrets or rights of publicity or privacy or shall not be fraudulent or involve the sale of counterfeit
                or stolen products;</p>
              <p>xiii) violates any law for the time being in force;</p>
              <p>xiv) threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with
                foreign states, or public order or causes incitement to thecommission of any cognizable offence or
                prevents investigation of any offence or is insulting any other nation;</p>
              <p>xv) shall not be false, inaccurate or misleading;</p>
              <p>xvi) shall not create liability for Us or cause Us to lose (in whole or in part) the services of Our
                internet service provider (&quot;ISPs&quot;) or other suppliers;</p>
              <p>b. We on certain landing page even allow our Users to experience free exchange of ideas and
                observations regarding interest in the field of fashion, including ‘viewing user generated content’
                and/or ‘videos’ and ‘posting comments’. By accessing, viewing and/or posting any user generated content
                to any specific dedicated page on the fashionClub, you accept and consent to the practices described in these
                ‘Terms of Service’ and ‘Privacy Policies’, as well as any other terms of prescribed by the fashionClub. You
                agree and undertake that when accessing, viewing and/or posting any user generated content on these
                pages You will not imitate, abuse, harass, any Customer/User or violate and exploit, any of these ‘Terms
                of Service’ of the fashionClub.</p>
              <p>c. You shall not use any &quot;deep-link&quot;, &quot;page-scrape&quot;, &quot;robot&quot;, &quot;spider&quot;
                or other automatic device, program, algorithm or methodology, or any similar or equivalent manual
                process, to access, acquire, copy or monitor any portion of the fashionClub or any Content, or in any way
                reproduce or circumvent the navigational structure or presentation of the fashionClub or any Content, to
                obtain or attempt to obtain any materials, documents or information through any means not purposely made
                available through the fashionClub. We reserve Our right to bar any such activity.</p>
              <p>d. You shall not attempt to gain unauthorized access to any portion or feature of the fashionClub, or any
                other systems or networks connected to the fashionClub or to any server, computer, network, or to any of the
                services offered on or through the fashionClub, by hacking, password &quot;mining&quot; or any other
                illegitimate means.</p>
              <p>e. You may not pretend that You are, or that You represent, someone else, or impersonate any other
                individual or entity</p>
              <p>f. You shall at all times ensure full compliance with the applicable provisions of the Information
                Technology Act, 2000 and rules thereunder as applicable and as amended from time to time and also all
                applicable Domestic laws, rules and regulations (including the provisions of any applicable Exchange
                Control Laws or Regulations in Force) and International Laws, Foreign Exchange Laws, Statutes,
                Ordinances and Regulations (including, but not limited to Sales Tax/VAT, Income Tax, Octroi, Service
                Tax, Central Excise, Custom Duty, Local Levies) regarding Your use of Our service and Your listing,
                purchase, solicitation of offers to purchase, and sale of products or services. You shall not engage in
                any transaction in an item or service, which is prohibited by the provisions of any applicable law
                including exchange control laws or regulations for the time being in force.</p>
              <p>g. From time to time, You shall be responsible for providing information relating to the products or
                services proposed to be sold by You. In this connection, You undertake that all such information shall
                be accurate in all respects. You shall not exaggerate or over emphasize the attributes of such products
                or services so as to mislead other Users in any manner.</p>
              <p>h. You shall not engage in advertising to, or solicitation of, other Users of the fashionClub to buy or sell
                any products or services, including, but not limited to, products or services related to that being
                displayed on the fashionClub or related to us.</p>
              <p>i. The Content posted does not necessarily reflect fashionClub views. In no event shall fashionClub assume or
                have any responsibility or liability for any Content posted or for any claims, damages or losses
                resulting from use of Content and/or appearance of Content on the fashionClub. You hereby represent and
                warrant that You have all necessary rights in and to all Content which You provide and all information
                it contains and that such Content shall not infringe any proprietary or other rights of third parties or
                contain any libellous, tortious, or otherwise unlawful information.</p>
              <p>j. fashionClub hereby disclaims any guarantees of exactness as to the finish, appearance, size, color etc.,
                of the final Product as ordered by the User. fashionClub Return &amp; Exchange Policy offers You the option
                to return or exchange items purchased on fashionClub within thirty (30) days of the receipt. In case of
                return of the purchased item, please refer to the &quot;Return Policy&quot; on our fashionClub.</p></li>
          </ul>
        </div>
      </li>
      <li><a class="title">5. Contents Posted on fashionClub:</a>
        <div class="desc">
          <p>All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music and
            artwork (collectively, &quot;Content&quot;), is a third party user generated content and fashionClub has no
            control over such third party user generated content as fashionClub is merely an intermediary for the purposes of
            this Terms of Use. Such Content will become Our property and You grant Us the worldwide, perpetual and
            transferable rights in such Content. We shall be entitled to, consistent with Our Privacy Policy as adopted
            in accordance with applicable law, use the Content or any of its elements for any type of use forever,
            including but not limited to promotional and advertising purposes and in any media whether now known or
            hereafter devised, including the creation of derivative works that may include the Content You provide.</p>

          <p> You may use information on the products and services purposely made available on the fashionClub for
            downloading, provided that You</p>

          <p> (1) do not remove any proprietary notice language in all copies of such documents,</p>

          <p> (2) use such information only for your personal, non-commercial informational purpose and do not copy or
            post such information on any networked computer or broadcast it in any media,</p>

          <p> (3) make no modifications to any such information, and</p>

          <p> (4) do not make any additional representations or warranties relating to such documents.</p></div>
      </li>
      <li><a class="title">6. Privacy:</a>
        <div class="desc">
          <p>We view protection of Your privacy as a very important principle. We understand clearly that You and Your
            Personal Information is one of Our most important assets. We store and process Your Information including
            any sensitive financial information collected as defined under the Information Technology Act, 2000 and
            Rules there under. We may share personal information with our other corporate entities and affiliates.</p>

          <p> We may disclose personal information if required to do so by law or in the good faith belief that such
            disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may
            disclose personal information to law enforcement offices, third party rights owners, or others in the good
            faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy; respond
            to claims that an advertisement, posting or other content violates the rights of a third party; or protect
            the rights, property or personal safety of our users or the general public.</p>

          <p> We and our affiliates will share / sell some or all of your personal information with another business
            entity should we (or our assets) plan to merge with, or be acquired by that business entity, or
            re-organization, amalgamation, restructuring of business. We have developed this Privacy Policy to protect
            Your personal/financial information and keep it confidential. By visiting Our fashionClub, you are accepting and
            consenting to the practices described in this Privacy Policies. The following Privacy Policy and Cookie
            Policy outlines the information we may process and how we may use that information to better serve you while
            using our fashionClub.</p>

          <ul>
            <li><p>a. <strong>Correspondence Information.</strong> Following are the various Correspondence Information
              which You provide when You access/register for Our Service includes: </p>
              <ul>
                <li><p>Children under the age of 18: Use of the fashionClub is available only to persons who can form legally
                  binding contracts under Indian Contract Act, 1872. Persons who are &quot;incompetent to contract&quot;
                  within the meaning of the Indian Contract Act, 1872 including minors, un-discharged insolvents etc.
                  are not eligible to use the fashionClub. If you are a minor i.e. under the age of 18 years, you shall not
                  register as a User of the fashionClub fashionClub and shall not transact on or use the fashionClub. As a minor if you
                  wish to use or transact on fashionClub, such use or transaction may be made by your legal guardian or
                  parents on the fashionClub.</p></li>
                <li><p>Personal Information: name, gender, age, images, contact/ postal address, telephone, email id,
                  nationality and content.</p></li>
                <li><p>Financial Information: credit/ debit card details including card number and expiry date in
                  encrypted form, details for net banking services and Wallet services. Please be advised that fashionClub
                  ensures the highest degree of data security, while encrypting as per the guidelines specified by
                  <a href="https://www.pcisecuritystandards.org/security_standards/documents.php?document=pci_dss_v2-0#pci_dss_v2-0">Payment
                    Cards Industry Data Security Standard (PCI DSS)</a>.</p></li>
                <li><p>Payment and Account Information: Your account history with us including (without limitation) all
                  billing information and communications, payment history etc. We maintain this in encrypted form on
                  secure servers. However, your transactions details may be preserved by fashionClub for purposes of tax or
                  regulatory compliance.</p></li>
                <li>
                  <p>Transactional Information: Order ID, transactional history (other than banking details) about your
                    e-commerce activities on our fashionClub.</p></li>
                <li>
                  <p>User IDs: Your usernames, passwords, email addresses and other security-related information used by
                    you in relation to our Services.</p></li>
                <li><p>Stored Information: Data either created by you or by a third party and which you wish to store on
                  our servers such as image files, documents etc.</p></li>
                <li><p>Shared Information: What types of information are not allowed on fashionClub Mobile App?</p></li>
                <li><p>Nudity or other sexually suggestive content</p></li>
                <li><p>Hate speech, credible threats or direct attacks on an individual or group</p></li>
                <li><p>Content that contains self-harm or excessive violence</p></li>
                <li><p>Fake or impostor profiles</p></li>
                <li><p>Spam </p></li>
              </ul>
            </li>
            <li>
              <p>b. <strong>Technical and functional management of the Mobile App.</strong> When you use our fashionClub, we
                also process technical data such as your IP-address, Device ID or MAC-address, and information about the
                manufacturer, model, and operating system of your mobile device. We use this data to enable us to
                deliver the functionalities of the fashionClub, resolve technical difficulties, and provide you with the
                correct (prevent the transmission of spam, viruses and/or unlawful, defamatory, obscene or otherwise
                undesirable material or content) and most up to date version of the fashionClub.</p>
              <p>c. <strong>Operational Use.</strong> We may use your information for suggesting products and
                promotional offers and schemes. You may update your profiling information at any time on the fashionClub. You
                acknowledge and agree such update is for Your interests and for improving personalization and service
                efficiency of the fashionClub.</p></li>
            <li>
              <strong>Note: You acknowledge that, we will only disclose your information in an aggregated form which is
                not capable of being used or interpreted in such a manner as to identify you.</strong>
              d. <strong>Applicable law and procedure.</strong> We collect and store your Correspondence Information to:
              (a) comply with our obligations under law; and (b) monitor your use of our Services in order to ensure
              your compliance with our Terms of Service.
            </li>
            <li><p>
              <strong>Note: However, as effective as encryption technology is, no security system is impenetrable. We
                cannot guarantee the security of our database, nor can we guarantee that information you supply won&#39;t
                be intercepted while being transmitted to us over the Internet. Any transmission of information by you
                to our fashionClub is at your own risk. We recommend that you do not disclose your password to
                anyone.</strong></p>
              <p>e. <strong>Cookie Policy.</strong> A cookie is a small text file that we place on your mobile device to
                enable various features of fashionClub. &quot;Cookies&quot; are used to store user preferences and to track
                user trends, so as to enhance your interactive experience and generally improve our Services to you. You
                can change your cookie settings to accept or not accept cookies in your browser settings. If you do
                accept a &quot;cookie&quot;, you thereby agree to our use of any Personal Information collected by us
                using that Cookie. If you do accept a &quot;cookie&quot;, you thereby agree to our use of any Personal
                Information collected by us using that Cookie.</p>
              <p>f. <strong>Third Party.</strong> At times We may tie-up with third parties, brand owners or other
                partners and make available certain offers, events or special schemes. In such instances, Your personal
                information may be shared with such third parties and/or may become available to them or be disclosed to
                them, such third parties may have their own applicable privacy rules and We shall not be liable for the
                use or misuse of Your information by such third parties.</p></li>
            <li>
              <strong>We only collect your Personal Information to conduct our business and to enable us to deliver and
                improve our services. We do not for any reason whatsoever sell your Correspondence Information to any
                third party or otherwise trade on it.</strong></li>
          </ul>
        </div>
      </li>
      <li><a class="title">7. Disclaimer of Warranties and Liability:</a>
        <div class="desc">
          <p>All the materials and products (including but not limited to software) and services, included on or
            otherwise made available to You through fashionClub are provided on &quot;as is&quot; and &quot;as available&quot;
            basis without any representation or warranties, express or implied except otherwise specified in writing.
            Without prejudice to the forgoing paragraph, fashionClub does not warrant that: fashionClub will be constantly
            available, or available at all; or The information on fashionClub is complete, true, accurate or
            non-misleading.</p>

          <p> All the Products sold on fashionClub are governed by different state laws and if Seller is unable to deliver
            such Products due to implications of different state laws, Seller will return or will give credit for the
            amount (if any) received in advance by Seller from the sale of such Product that could not be delivered to
            You. You will be required to enter a valid phone number while placing an order on the fashionClub. By registering
            Your phone number with us, You consent to be contacted by Us via phone calls and/or SMS notifications, in
            case of any order or shipment or delivery related updates. We will not use your personal information to
            initiate any promotional phone calls or SMS.</p></div>
      </li>
      <li><a class="title">8. Selling:</a>
        <div class="desc">
          <p>As a registered seller, you are allowed to list item(s) for sale on the fashionClub in accordance with the
            Policies which are incorporated by way of reference in this Terms of Use. You must be legally able to sell
            the item(s) you list for sale on our fashionClub. You must ensure that the listed items do not infringe upon the
            intellectual property, trade secret or other proprietary rights or rights of publicity or privacy rights of
            third parties. Listings may only include text descriptions, graphics and pictures that describe your item
            for sale. All listed items must be listed in an appropriate category on the fashionClub. All listed items must be
            kept in stock for successful fulfilment of sales. The listing description of the item must not be misleading
            and must describe actual condition of the product. If the item description does not match the actual
            condition of the item, you agree to refund any amounts that you may have received from the Buyer. You agree
            not to list a single product in multiple quantities across various categories on the fashionClub. fashionClub reserves
            the right to delete such multiple listings of the same product listed by you in various categories.</p>

          <p> We may provide you alternation services (limited to alteration of length, alteration of the waist size)
            for the garments purchased by You from Us. This service shall be free of cost and no amount would be
            collected from You for such the alteration. However, a nominal fee of Rs. 50/- (inclusive of service tax)
            would be charged as convenience charge towards taking of measurements, pick up and drop of the garments.</p>
        </div>
      </li>
      <li><a class="title">9. Indemnity:</a>
        <div class="desc">
          <p>You shall indemnify and hold harmless fashionClub, its owner, licensee, affiliates, subsidiaries, group
            companies (as applicable) and their respective officers, directors, agents, and employees, from any claim or
            demand, or actions including reasonable attorneys&#39; fees, made by any third party or penalty imposed due
            to or arising out of Your breach of this Terms of Use, privacy Policy and other Policies, or Your violation
            of any law, rules or regulations or the rights (including infringement of intellectual property rights) of a
            third party.</p></div>
      </li>
      <li><a class="title">10. Trademark, Copyright and Restriction:</a>
        <div class="desc">
          <p>fashionClub is controlled and operated by fashionClub and products are sold by respective Sellers. All material on
            fashionClub, including images, illustrations, audio clips, and video clips, are protected by copyrights,
            trademarks, and other intellectual property rights. Material on fashionClub is solely for Your personal,
            non-commercial use. You must not copy, reproduce, republish, upload, post, transmit or distribute such
            material in any way, including by email or other electronic means and whether directly or indirectly and You
            must not assist any other person to do so. Without the prior written consent of the owner, modification of
            the materials, use of the materials on any other fashionClub or networked computer environment or use of the
            materials for any purpose other than personal, non-commercial use is a violation of the copyrights,
            trademarks and other proprietary rights, and is prohibited. Any use for which You receive any remuneration,
            whether in money or otherwise, is a commercial use for the purposes of this clause. It is expressly
            clarified that You will retain ownership and shall solely be responsible for any content that You provide or
            upload when using any Service, including any text, data, information, images, photographs, music, sound,
            video or any other material which you may upload, transmit or store when making use of Our various Service.
            However, We reserve the right to use/reproduce any content uploaded by You and You agree to grant royalty
            free, irrevocably, unconditionally, perpetually and worldwide right to Us to use the content for reasonable
            business purpose.</p></div>
      </li>
      <li><a class="title">11. Limitation of Liability:</a>
        <div class="desc">
          <p>In no event shall fashionClub be liable for any indirect, punitive, incidental, special, consequential damages
            or any other damages resulting from:</p>

          <p> (a) the use or the inability to use the Services or Products;</p>

          <p> (b) unauthorized access to or alteration of the user&#39;s transmissions or data;</p>

          <p> (c) breach of condition, representations or warranties by the manufacturer of the Products</p>

          <p> (d) any other matter relating to the services; including, without limitation, damages for loss of use,
            data or profits, arising out of or in any way connected with the use or performance of the fashionClub or
            Service. fashionClub shall not be held responsible for non-availability of the fashionClub during periodic maintenance
            operations or any unplanned suspension of access to the fashionClub. The User understands and agrees that any
            material and/or data downloaded at fashionClub is done entirely at Users own discretion and risk and they will be
            solely responsible for any damage to their mobile or loss of data that results from the download of such
            material and/or data. To the maximum extend that is permissible under law, fashionClub’s liability shall be
            limited to an amount equal to the Products purchased value bought by You. fashionClub shall not be liable for any
            dispute or disagreement between Users</p></div>
      </li>
      <li><a class="title">12. Termination:</a>
        <div class="desc">
          <p>a. fashionClub may suspend or terminate your use of the fashionClub or any Service if it believes, in its sole and
            absolute discretion that you have infringed, breached, violated, abused, or unethically manipulated or
            exploited any term of these Terms of Service or anyway otherwise acted unethically. Notwithstanding anything
            in this clause, these Terms of Service will survive indefinitely unless and until fashionClub chooses to
            terminate them.</p>

          <p> b. If You or fashionClub terminates your use of the fashionClub or any Service, fashionClub may delete any content or
            other materials relating to your use of the Service and fashionClub will have no liability to you or any third
            party for doing so. However, your transactions details may be preserved by fashionClub for purposes of tax or
            regulatory compliance.</p>

          <p> c. You shall be liable to pay for any Service or Product that you have already ordered till the time of
            Termination by either party whatsoever.</p>

          <p> d. If fashionClub unilaterally terminates Your account without any reason then any applicable cash back or
            wallet amount (if any) shall be refunded to You..</p></div>
      </li>
      <li><a class="title">13. Jurisdictional Issues/Sale in India Only:</a>
        <div class="desc">
          <p>Unless otherwise specified, the material on the fashionClub is presented solely for the purpose of sale in
            India. fashionClub make no representation that materials in the fashionClub are appropriate or available for use in
            other locations/Countries other than India. Those who choose to access fashionClub from other locations/Countries
            other than India do so on their own initiative and fashionClub is not responsible for supply of products/refund
            for the products ordered from other locations/Countries other than India, compliance with local laws, if and
            to the extent local laws are applicable.</p></div>
      </li>
      <li><a class="title">14. Governing Law:</a>
        <div class="desc">
          <p>These terms shall be governed by and constructed in accordance with the laws of India without reference to
            conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive
            jurisdiction of courts, tribunals, fora, applicable authorities at Bangalore. The place of jurisdiction
            shall be exclusively in Bangalore.</p></div>
      </li>
    </ul>
  </div>
</div>