<!-- ==========================
  ACCOUNT - START
=========================== -->
<section class="content account">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="login-form-wrapper">
          <form>
            <h3>Sign In</h3>
            <div class="form-group">
              <label>Email<span class="required">*</span></label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Password<span class="required">*</span></label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <input type="checkbox" id="signin-remember">
                <label for="signin-remember">Remember me</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </form>
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="btn btn-brand btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
            </div>
            <div class="col-xs-6">
              <a href="#" class="btn btn-brand btn-google-plus"><i class="fa fa-google-plus"></i>Sign in with Google Plus</a>
            </div>
          </div>
        </div>
        <p class="form-text signin"><a href="/users/signup">New to fashionClub?</a></p>
        <p class="form-text">Did you <a href="/users/recover">forgot your password?</a></p>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
  ACCOUNT - END
=========================== -->
