<!-- ==========================
    	MY ACCOUNT - START
    =========================== -->
<section class="content account">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <aside class="sidebar">

          <!-- WIDGET:CATEGORIES - START -->
          <div class="widget widget-navigation">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="/accounts/dashboard">Account Dashboard</a></li>
              <li><a href="/accounts/profile">Personal Infromation</a></li>
              <li><a href="/accounts/address">My Address</a></li>
              <li><a href="/accounts/orders">My Orders</a></li>
              <li><a href="/accounts/wishlist">Wishlist</a></li>
              <li><a href="/home/index">Back to Shop</a></li>
            </ul>
          </div>
          <!-- WIDGET:CATEGORIES - END -->

        </aside>
      </div>
      <div class="col-sm-9">
        <article class="account-content">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
            <strong>Warning!</strong> You have one unpaid order.
          </div>
          <h3>Welcome <span>John Doe</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit.</p>
          <div class="icon-nav row">
            <div class="col-xs-6 col-md-3"><a href="/accounts/address"><i class="fa fa-map-marker"></i> My Address</a></div>
            <div class="col-xs-6 col-md-3"><a href="/accounts/orders"><i class="fa fa-tasks"></i> My Orders</a></div>
            <div class="col-xs-6 col-md-3"><a href="/accounts/wishlist"><i class="fa fa-heart"></i> Wishlist</a></div>
            <div class="col-xs-6 col-md-3"><a href="/accounts/profile"><i class="fa fa-user"></i> Profile</a></div>
            <div class="col-xs-6"><a href="/accounts/addaddress"><i class="fa fa-plus-circle"></i> New Address</a></div>
            </div>
          <h4>Unpaid Orders</h4>
          <div class="table-responsive border">
            <table class="table table-bordered">
              <tr>
                <th class="col-xs-3">Order ID</th>
                <th class="col-xs-3">Date</th>
                <th class="col-sm-2 hidden-xs">Items</th>
                <th class="col-xs-3">Total Price</th>
                <th class="col-xs-1"></th>
              </tr>
              <tr>
                <td><a href="/accounts/singleorder">#124321</a></td>
                <td>12th July 2015</td>
                <td class="hidden-xs">3</td>
                <td>$265</td>
                <td><a href="/accounts/singleorder" class="btn btn-primary btn-sm">Pay</a></td>
              </tr>
            </table>
          </div>
          </article>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
  MY ACCOUNT - END
=========================== -->