<!-- ==========================
  MY ACCOUNT - START
=========================== -->
<section class="content account">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <aside class="sidebar">

          <!-- WIDGET:CATEGORIES - START -->
          <div class="widget widget-navigation">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/accounts/dashboard">Account Dashboard</a></li>
              <li><a href="/accounts/profile">Personal Infromation</a></li>
              <li><a href="/accounts/address">My Address</a></li>
              <li><a href="/accounts/orders">My Orders</a></li>
              <li class="active"><a href="/accounts/wishlist">Wishlist</a></li>
              <li><a href="/home/index">Back to Shop</a></li>
            </ul>
          </div>


          <!-- WIDGET:CATEGORIES - END -->

        </aside>
      </div>
      <div class="col-sm-9">
        <article class="account-content">
          <h3>Wishlist</h3>
          <div class="table-responsive">
            <table class="table table-products">
              <thead>
              <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="col-xs-1"><img src="/assets/images/products/product-1.jpg" alt="" class="img-responsive"></td>
                <td class="col-xs-4 col-md-5"><h4><a href="single-product.html">Fusce Aliquam</a><small>M, Black, Esprit</small></h4></td>
                <td class="col-xs-2 col-md-1 text-center"><span><b>1 items</b></span></td>
                <td class="col-xs-2 text-center"><span><b>$60</b></span></td>
                <td class="col-xs-2 text-center"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a><a href="#" class="btn btn-primary"><i class="fa fa-times"></i></a></td>
              </tr>
              <tr>
                <td class="col-xs-1"><img src="/assets/images/products/product-2.jpg" alt="" class="img-responsive"></td>
                <td class="col-xs-4 col-md-5"><h4><a href="single-product.html">Fusce Aliquam</a><small>M, Black, Esprit</small></h4></td>
                <td class="col-xs-2 col-md-1 text-center"><span><b>1 items</b></span></td>
                <td class="col-xs-2 text-center"><span><b>$60</b></span></td>
                <td class="col-xs-2 text-center"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a><a href="#" class="btn btn-primary"><i class="fa fa-times"></i></a></td>
              </tr>
              <tr>
                <td class="col-xs-1"><img src="/assets/images/products/product-3.jpg" alt="" class="img-responsive"></td>
                <td class="col-xs-4 col-md-5"><h4><a href="single-product.html">Fusce Aliquam</a><small>M, Black, Esprit</small></h4></td>
                <td class="col-xs-2 col-md-1 text-center"><span><b>1 items</b></span></td>
                <td class="col-xs-2 text-center"><span><b>$60</b></span></td>
                <td class="col-xs-2 text-center"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a><a href="#" class="btn btn-primary"><i class="fa fa-times"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
          <a href="#" class="btn btn-primary">Clear All</a>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
  MY ACCOUNT - END
=========================== -->